
  /* canvas {
      height: 900px;
      width: 900px;
  } */

  @import url(https://fonts.googleapis.com/css?family=VT323);
body {
  background: black;
  color: white;
}

img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;


  image-rendering: -webkit-optimize-contrast;
}

.centeredDIV {
  display: table;
  width: 50%;
  height: 30%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0; /* Aligns Vertically - Remove for Horizontal Only */
  left: 0;
  right: 0; /* Aligns Horizontally - Remove for Vertical Only  */
  
  width: 500px;
  height: 500px;
  overflow: auto;
  text-align: center;
}

.verticalcenteredDIV {
  display: table-cell;

  vertical-align: middle;
}

.person {
  background: transparent;
}